.super-mario {
    width: 200px;
    position:absolute;
    left: 100px;
    top: 100px
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    left: 150px;
    top:400px
  }

  .baloon {
    position:absolute;
    left: 420px;
    top:200px;
  }
  
  .speach {
    font-size: 25px;
    position:absolute;
    left: 440px;
    top: 240px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    top: 365px;
    left: 700px;
  }